<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ shell.site_title }}{% endblock %}</title>
    <meta name="description" content="{{ shell.description }}" />
    <link rel="icon" type="image/png" href="{{ shell.favicon }}" />
    <link rel="shortcut icon" type="image/png" href="{{ shell.favicon }}" />
    <link rel="preconnect" href="https://images.squarespace-cdn.com/" />
    <link rel="preconnect" href="https://use.typekit.net/" crossorigin />
    <link rel="preconnect" href="https://p.typekit.net/" crossorigin />
    <link rel="stylesheet" href="{{ url_for('static', filename='global_safe.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='ss_homepage/user-account-core-deec763d109d5251-min.en-US.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='ss_homepage/website.components.button.styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='ss_homepage/website.components.html.styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='ss_homepage/site.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='ss_homepage/static.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='brand.css') }}" />
  </head>
  <body id="{{ shell.body_id }}" class="{{ shell.body_class }}">
    <div id="siteWrapper" class="clearfix site-wrapper">

      {% include 'partials/header.html' %}

      <main id="page" class="container" role="main">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flash-messages">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </main>

      {% include 'partials/footer.html' %}

    </div>

    <script>
      const burger = document.querySelector(".header-burger-btn");
      const menu = document.getElementById("mobileMenu");
      if (burger && menu) {
        burger.addEventListener("click", () => {
          menu.hidden = !menu.hidden;
        });
      }
    </script>
  </body>
</html>
